<MudNavMenu Margin="Margin.Dense" Color="Color.Primary" Bordered="true">
    <MudItem xs="12" sm="12" md="12">
        <MudAvatar Color="Color.Warning" Variant="Variant.Outlined" Size="Size.Medium" Image="">
            @CurrentUser.Identity?.Name?[0]
        </MudAvatar>
        <MudText Align="Align.Right" Typo="Typo.h5" Class="smaller"> @CurrentUser.Identity?.Name?</MudText>
    </MudItem>
    <MudNavLink Href="@AppRouteConstants.Account.AccountSettings" Target="_blank" Match="NavLinkMatch.Prefix"
                Icon="@Icons.Material.Filled.PersonPin">
        Account Settings
    </MudNavLink>
    <MudNavGroup Title="Themes" Expanded="true">
        <MudText Align="Align.Right" Typo="Typo.h5" Class="smaller">Current Theme: @_displayTheme.FriendlyName</MudText>
        @foreach (var theme in _availableThemes)
        {
            <div class="px-2">
                <MudTooltip Arrow="true" Placement="Placement.Left" Text="@theme.Description">
                    <MudButton Variant="Variant.Text" Color="Color.Primary" StartIcon="@theme.Icon"
                               OnClick="@((e) => ChangeTheme(theme))">
                        @theme.FriendlyName
                    </MudButton>
                </MudTooltip>
            </div>
        }
    </MudNavGroup>
</MudNavMenu>